*{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    margin-top: 20px;
}

#dogImg{
    width: 500px;
}

.mainArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dogButton{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}